.contact-section {
  padding: 80px 20px;
  background-color: #0e0d0d;
  color: #fffafa;
  text-align: center;
}

.contact-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.section-heading {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.section-heading .underline {
  display: block;
  width: 60px;
  height: 43px;
  background-color: #e91e63;
  margin: 8px auto 30px auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #1f1f1f;
  color: white;
  font-size: 16px;
}

.contact-form .form-group input::placeholder,
.contact-form .form-group textarea::placeholder {
  color: #aaa;
}

.submit-btn {
  padding: 12px 25px;
  background-color: #e91e63;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #d81b60;
}
